html, body {
    
    background: #476ab1;
    margin: 0;
    padding: 10px;
  }

canvas {
  display: block;
  margin: 0 auto;
}

.expo {
  color: white;
  display: block;
  font-family: ltc-goudy-oldstyle-pro, serif;
  font-weight: 400;
  font-size: 11pt;
  font-style: normal;
  margin: 0  auto 20px auto;
  text-align: center;
  width: 600px;
}

.expo a {
  color: #e94a2b;
}
  