html, body {
    background: rgb(240,240,240);
    margin: 0;
    padding: 10px;
  }

canvas {
  display: block;
  margin: 0 auto;
}

.expo {
  display: block;
  font-family: ltc-goudy-oldstyle-pro, serif;
  font-weight: 400;
  font-size: 11pt;
  font-style: normal;
  margin: 0  auto 20px auto;
  text-align: center;
  width: 600px;
}
  